<%= form_with model: [:admin, @setting], local: true do |form| %>
    <div class="mb-4">
      <%= form.label :key, "Key", class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :key, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
    </div>
  
    <div class="mb-4">
    <%= form.label :value, "Value", class: "block text-sm font-medium text-gray-700" %>
    <% if @setting.setting_type == 'json' %>
      <%= form.text_area :value, rows: 10, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", value: @setting.value.to_json %>
    <% else %>
      <%= form.text_area :value, rows: 5, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
    <% end %>
  </div>
  
    <div class="mb-4">
      <%= form.label :group, "Group", class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :group, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
    </div>
  
    <div class="mb-4">
    <%= form.label :setting_type, "Type", class: "block text-sm font-medium text-gray-700" %>
    <%= form.select :setting_type, options_for_select([['Text', 'text'], ['Checkbox', 'checkbox'], ['Radio', 'radio'], ['Image', 'image'], ['Video', 'video'], ['JSON', 'json']], @setting.setting_type), class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
  </div>
  
    <div class="mb-4 flex justify-end">
      <%= form.submit class: "bg-blue-500 text-white px-4 py-2 rounded" %>
    </div>
  <% end %>
  