<header class="bg-white">
  <!-- First Row -->
  <div class="flex justify-between items-center px-8">
    <div class="overflow-hidden h-24 w-48">
      <%= image_tag 'corporate-logo.webp', alt: 'Corporate Logo', class: 'h-full w-full object-cover object-center scale-115' %>
    </div>
    <h1 class="text-2xl font-bold mx-auto">Artificial Eye And Facial Prosthetic Clinic</h1>

    <% if (announcement = Setting.find_by(key: 'announcement-bar')) && announcement.parsed_value.present? %>
    <div class="announcement-bar text-black text-center py-2">
      <a href="<%= catch_all_page_path(announcement.parsed_value[1]) %>" class="text-black">
        <%= announcement.parsed_value[0] %>
      </a>
    </div>
  <% end %>


    <%= render 'menus/header_menu_mobile' %>

  </div>

  <%= render 'menus/header_menu_desktop' %>

</header>
