<!DOCTYPE html>
<html>
  <head>
    <title>Ericksons</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
      <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>

      <%= stylesheet_link_tag 'https://unpkg.com/trix@2.1.1/dist/trix.css' %>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Setting.get('google_maps_api') %>" async defer></script>

  </head>

  <body>

  <%= render '/layouts/header' %>
<style>
@font-face {
  font-family: 'Alegreya';
  src: url('<%= asset_path('alegreya/Alegreya-Regular.ttf') %>') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya';
  src: url('<%= asset_path('alegreya/Alegreya-Bold.ttf') %>') format('truetype');
  font-weight: 700;
  font-style: normal;
}
</style>
  <main class="p-8">

    <!-- First Section -->
    <section class="flex flex-col lg:flex-row m-4 lg:m-12">
    <div class="w-full lg:w-4/5 p-4">
      <%= yield %>
    </div>
    <div class="w-full lg:w-1/5 p-4 mt-4 lg:mt-0">
      <div style="background-color:#d6d6d6;" class="p-4">
        <h2 class="text-xl font-bold">IMPORTANT</h2>
        <p>
          Do not use hand sanitizer or any alcohol based cleaner on your ocular prosthesis, as it will crack the acrylic!
        </p>
      </div>
    </div>
  </section>
  

      <%= render '/home/services', services: @services %>

<%= render '/home/testimonials' %>
  <%= render '/sections/contact-us' %>
  </main>
  


  <%= render '/layouts/footer' %>

  </body>
</html>
